# Virtual environments
.env
.env/
venv/
env/

# Python cache and bytecode
__pycache__/
*.py[cod]

# Distribution / build
dist/
build/
*.egg-info/

# Pytest cache
.pytest_cache/

# IDEs
.vscode/

# Sensitive files
secrets.yml
secrets.yaml
.env.local
credentials

# Logs
*.log
__pycache__/
.hypothesis/
.pytest_cache/
.coverage
data/
.idea/*
data/*
.env/
dist/*
.vscode/
*.ipynb
*.csv
.checkmarx/
.checkmarx/scan_results/
CImpact/
